body {
    padding: 20px;
    background: #f5f5f5;
}

#div_head{
    display: flex;
    padding: 20px;
    background-color: #4CAF50;
    text-align: center;
    align-items: center;
}

#div_center{
    padding: 20px;
    background-color: #FFAAFF;
}
